.loading {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    place-items: center;
    justify-content: center;
}

 .loading div {
    border-bottom: 5px solid rgb(40, 39, 39);
    width: 10vmax;
    height: 10vmax;
    border-radius: 50%;
    animation:loadingRotate 800ms linear infinite;
    /* border: 2px solid red; */
}

@keyframes loadingRotate {
    to{
        transform:rotateZ(-360deg);

    }
}